@font-face {
  font-family: "Montserrat";
  src: url(./Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Montserrat2";
  src: url(./Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
body,
html {
  height: 100%;
  width: 100%;
  /* perspective: 400px; */
}
body::-webkit-scrollbar {
  display: block;
  /* background-color: #91b508; */
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: #91b508;
  border-radius: 10px;
}
::selection {
  background-color: #ffffff;
  color: #91b508;
}
#curser {
  height: 20px;
  width: 20px;
  background-color: #91b508;
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  pointer-events: none;
}
#curser-blur {
  height: 200px;
  width: 200px;
  background-color: #91b508;
  border-radius: 50%;
  position: fixed;
  z-index: 9;
  filter: blur(80px);
  pointer-events: none;
}
#nav {
  width: 100%;
  height: 20%;
  /* background-color: #2b2828; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 6em;
  gap: 2em;
  position: fixed;
  z-index: 99;
}
#nav img {
  width: 5.5em;
}
#nav h4 {
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}
#main {
  position: relative;
  background-color: #7473731a;
}
#page_1 {
  height: 90vh;
  width: 100%;
  /* background-color: #91b508; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  z-index: 10;
  position: relative;
}
#page_1 h1 {
  font-size: 5.6em;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
}
#page_1 h1::before {
  content: "Eat. Drink. Play.";
  position: absolute;
  color: black;
  top: -5px;
  left: -5px;
  -webkit-text-stroke: 1px #91b508;
  z-index: -1;
}
#page_1 h2 {
  font-size: 1.5em;
  font-weight: 800;
  margin-top: 15px;
  margin-bottom: 13px;
}
#page_1 p {
  font-size: 1.2em;
  font-weight: 400;
  width: 53%;
}
#page_1 .arrow {
  width: 100px;
  height: 100px;
  border: 2px solid #91b508;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -25px;
  left: -1%;
  /* left: calc(50% - 25px); */
  cursor: pointer;
  background-color: transparent;
}
#page_1 .arrow i {
  color: #fff;
  font-size: 2em;
  /* transition: all linear 0.5s; */
}
#page_1 .arrow:hover {
  height: 60px;
  width: 60px;
  background-color: #91b508;
  transition: all linear 0.5s;
}
#page_2 {
  min-height: 100vh;
  width: 100%;
}
#scroll {
  /* background-color: #91b508; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}
#scroll::-webkit-scrollbar {
  display: none;
}
#scroll_1 {
  display: inline-block;
  white-space: nowrap;
  animation-name: animate;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
}

#scroll h4 {
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 5.9em;
  text-align: center;
  padding: 1em 0;
  display: inline-block;
  font-weight: 900;
  -webkit-text-stroke: 1px #fbfcf9;
  margin-right: 12px;
  font-family: "Gilroy", sans-serif;
  transition: all linear 0.5s;
}
#scroll h4:hover {
  color: #91b508;
}
@keyframes animate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
#about {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #ffffff; */
  position: relative;
  z-index: 10;
  color: #ffffff;
  gap: 5em;
}
#about .img_1 {
  width: 10%;
  height: 40%;
  object-fit: cover;
  border-radius: 10px;
}
#about-text {
  width: 50%;
  text-align: center;
}
#about-text h2 {
  font-size: 2.5em;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#about-text p {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 1.5;
}

#about .img_2 {
  width: 10%;
  height: 60%;
  object-fit: cover;
  border-radius: 10px;
}
#card_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background-color: #000000;
  /* z-index: -1; */
  padding: 30px;
  margin-top: 100px;
}
#card_container .card {
  width: 30%;
  height: 100%;
  /* background-color: #ffffff; */
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  /* border: 2px solid #91b508; */
  z-index: 10;
  background-size: cover;
  /* object-fit: cover; */
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}
#card1 {
  background-image: url(./images/home-lessons-1024x682.avif);
}
#card2 {
  background-image: url(./images/home-toptracer-1024x682.webp);
}
#card3 {
  background-image: url(./images/hero-5-1002x1024.avif);
}
.hover_div {
  width: 100%;
  height: 100%;
  background-color: #91b508;
  border-radius: 10px;
  opacity: 0;
  padding: 30px;
  line-height: 30px;
  /* transition: opacity 0.3s ease-in-out; */
}
.hover_div h4 {
  color: #000;
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
}
.hover_div:hover {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
#card_container .card:hover {
  transform: rotate3d(1, 1, 0.1, 15deg);
}
#dot_div {
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  background: linear-gradient(to top right, #97c41e, #43ac2f);
  margin-top: 50px;
  text-align: center;
}
#dot_div img {
  width: 12%;
  height: 100%;
  object-fit: cover;
}
#dot_div h4 {
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
}
#page_3 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  color: #ffffff;
  text-align: center;
  position: relative;
}
#page_3 p {
  font-size: 1.5em;
  font-weight: 400;
  width: 55%;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 2.5rem;
}
#page_3 img {
  /* width: 20%; */
  height: 5%;
  object-fit: cover;
  margin-top: 20px;
  position: absolute;
}
#page_3 #colon1 {
  top: 20%;
  right: 80%;
}
/* #page_3 img:nth-child(2) {
  top: 20%;
  right: 80%;
} */
#page_3 #colon2 {
  bottom: 25%;
  right: 18%;
}
#page_4 {
  height: 50vh;
  width: 100%;
  /* background-color: #91b508; */
  background-color: #000;
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  position: relative;
}
#page_4 h1 {
  position: absolute;
  font-size: 72px;
  top: 3%;
  color: black;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Gilroy", sans-serif;
}
#page_4 #elem {
  width: 27%;
  height: 50%;
  overflow: hidden;
  border-radius: 10px;
  /* z-index: 10; */
  position: relative;
}

#page_4 #elem h2 {
  width: 100%;
  height: 100%;
  background-color: #91b508;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: 800;
  position: absolute;
  z-index: 10;
}
#page_4 #elem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1.1;
}
#page_4 #elem:hover h2 {
  color: #ffffff;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
}
#page_4 #elem:hover img {
  scale: 1;
  transition: all 0.5s ease-in-out;
}
#footer {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #ffffff;
  position: relative;
  /* z-index: 10; */
  background: linear-gradient(to top right, #97c41e, #43ac2f);
  position: relative;
  z-index: 10;
}
#footer .f1 {
  width: 20%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}
#footer .f1 .dots {
  position: absolute;
  left: 0%;
  width: 25%;
  height: 100%;
  object-fit: cover;
}
#footer .f1 .logo {
  position: absolute;
  top: 20%;
  left: 1%;
  width: 25%;
  height: 25%;
}
#footer .f1 #links {
  position: absolute;
  bottom: 25%;
  left: 9%;
  color: #000;
  font-size: 2em;
  font-weight: 400;
  display: flex;
}
#footer .f2 {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  position: absolute;
  left: 30%;
  top: -17%;
  line-height: 40px;
}
#footer .f2 h3 {
  font-size: 25px;
  color: #000;
  font-weight: 800;
}
#footer .f3 {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  position: absolute;
  left: 54%;
  top: -17%;
  line-height: 40px;
}
#footer .f3 h3 {
  font-size: 25px;
  color: #000;
  font-weight: 800;
}
#footer .f4 {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  position: absolute;
  left: 75%;
  top: -9%;
  line-height: 30px;
}
#footer .f4 h2 {
  font-size: 20px;
  color: #000;
  font-weight: 600;
}
#footer .f4 h3 {
  font-size: 25px;
  color: #000;
  font-weight: 800;
}
